* {
    margin: 0px;
    padding: 0px;
}

/* for angularJS ng-cloak attribute */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    background-color: #eee;
    font-size: 16px;
    text-align: center;
}

body ul {
    list-style: none;
}

a, th, td, p, h1, li {
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", "SimSun", sans-serif;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:focus, a:hover, a:active {
    color: #5dafe9;
}

span.pointer {
    color: black;
    cursor: pointer;
    display: block;
}

span.pointer:focus,
span.pointer:hover,
span.pointer:active {
    color: #5dafe9; 
}

div#container {
    position: relative;
    margin: 40px auto;
    width: auto;
    /*IE hack*/
    width: 1080px\9;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    border: 2px solid #7fb80e;
    table-layout: fixed;
    line-height: 1.6;
}

table col#name {
    width: 52%;
}

table col#time-jp, 
table col#time-cn {
    width: 16%;
}

table thead th {
    border-right: 1px solid white;
    background-color: #cde6c7;
}

table thead th span.ordered {
    text-decoration: underline;
}

table tbody td {
    border-right: 1px solid white;
    border-top: 1px solid white;
    height: 28px;
}

table tbody td a.new::before {
    content: "new";
    font-size: 10px;
    vertical-align: super;
}

table tbody tr.color {
    background-color: #f6f5ec;
}

table thead th#header {
    border-right: none;
    height: 100px;
    text-align: left;
    padding-left: 120px;
    font-size: 36px;
    background-image: url("../images/header.gif");
    /*IE hack*/
    background-image: url("../images/header-IE.gif")\9;
    background-size: auto 100px;
    background-position: 3% 100%;
    background-repeat: no-repeat;
    background-color: #7fb80e;
}

table thead th#search {
    background-color: #7fb80e;
    text-align: right;
    font-size: 16px;
    padding-right: 20px;
    border-left: 2px solid #7fb80e;
}

table thead th#search input {
    vertical-align: baseline;
    width: 150px;
    font-size: 16px;
}

table tbody tr {
    height: 30px;
}

table tbody tr td {
    text-align: center;
}

table tbody tr td:first-child a {
    position: relative;
}

table tbody tr td:last-child {
    padding: 0 10px;
}

table tbody tr td:first-child a span {
    position: absolute;
    background-color: rgba(206, 230, 201, 0.9);
    top: 15px;
    left: -9999px;
    font-size: 14px;
    color: gray;
    width: 150px;
    line-height: 1.5;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
    z-index: 1;
}

table tbody tr td:first-child a:hover span,
table tbody tr td:first-child a:focus span {
    left:100%;
    margin-left: -7px;
}

table span.hide {
    display: none;
}

ul#nav {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    zoom: 1;
    overflow: hidden;
}

ul#nav li {
    float: left;
    width: 65px;
    height: 30px;
    border: 2px solid #7fb80e;
    border-bottom: none;
    text-align: center;
    line-height: 2;
    margin-right: 10px;
    cursor: pointer;
}

ul#nav li:last-child {
    border-right: 2px solid #7fb80e;
}

ul#nav li:focus, ul#nav li:hover {
    background-color: #cde6c7;
}

ul#nav li.selected {
    background-color: #7fb80e;
}

p#footer {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

p#footer a {
    font-size: 12px;
}

p#footer a:link,
p#footer a:visited,
p#footer a:focus,
p#footer a:hover,
p#footer a:active {
    text-decoration: underline;
}

div#sidebar {
    position: absolute;
    width: 80px;
    padding: 0 5px;
    border: 2px solid #7fb80e;
    left: 20px;
    top: 32px;
    display: none;
    /*IE hack*/
    display: block\9;
    _display: none;
}

div#sidebar h3 {
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
}


div#sidebar li.year {
    font-size: 16px;
    margin-bottom: 10px;
    border: 2px solid #cde6c7;
    text-align: center;
}

div#sidebar li.year span {
    background-color: #cde6c7;
}

div#sidebar li.year ul.month li span {
    border-top: 1px solid #cde6c7;
    text-align: right;
    background-color: #eee;
    font-size: 13px;
    margin: 0 10px;
}

div#sidebar li.year ul.month li:first-child {
    border-top: none;
}

@media screen and (min-width: 960px) {
    div#container {
        width: 1080px;
    }

    div#sidebar { 
        display: block; 
    }
}

