/*防止angularjs加载时出现的闪烁*/
/*[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}*/

/*全局*/
body, a, th, td, p, h1, ul, li, blockquote, input {
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", "SimSun", "宋体", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: #eee;
    font-size: 16px;
    overflow-y: scroll;
    /*fix IE7 double scroll bar*/
    *overflow-y: visible;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
}

a:focus,
a:hover,
a:active {
    color: #3498db;
}

/*顶部导航栏*/
#topbar {
    height: 40px;
    background: #34495e;
    position: relative;
    color: #fff;
    text-align: center;
    min-width: 730px;
    z-index: 2;
}

#topbar #topnav {
    max-width: 960px;
    min-width: 730px;
    margin: auto;
    overflow: hidden;
    zoom: 1;
    height: 50px;
}

#topbar #topnav .title {
    float: left;
    margin-right: 20px;
    width: 100px;
}

#topbar #topnav .menu {
    float: left;
    width: 80px;
    height: 50px;
}

#topbar #topnav li {
    cursor: pointer;
    line-height: 40px;
    height: 40px;
}

#topbar #topnav .plain {
    cursor: default;
    margin-right: 8px;
}

#topbar #topnav li a {
    font-size: 20px;
    color: #fff;
}

#topbar #topnav li a:focus,
#topbar #topnav li a:hover {
    color: #1abc9c;
}

#topbar #topnav .menu a {
    font-size: 16px;
    font-weight: normal;
}

#topbar #topnav .menu a.active {
    color: #1abc9c;
}

#topbar #topnav .menu .submenu {
    background: #34495e;
    border-radius: 4px;
    float: none;
    width: 100px;
    position: absolute;
    top: 50px;
    /*hide submenu for let IE7*/
    *display: none;
    margin-left: 1px;
}

#topbar #topnav .menu .submenu a {
    display: block;
    width: 110px;
    text-align: center;
    position: absolute;
    left: 0;
    text-indent: -12px;
}

#topbar #topnav .menu .submenu a:focus,
#topbar #topnav .menu .submenu a:hover,
#topbar #topnav .menu .submenu a:active {
    color: #fff;
}

#topbar #topnav .menu:hover>a {
    color: #1abc9c;
}

#topbar #topnav .menu .submenu li:hover {
    background: #1abc9c;
}

#topbar #topnav .menu .submenu li {
    position: relative;
    border-radius: 2px;
    margin: 3px;
    width: 94px;
}

#topbar #topnav .menu .submenu #hourSelecter {
   position: absolute;
   right: 10px;
   top: 10px;
   height: 20px;
   overflow: hidden;
   zoom: 1;
}

#topbar #topnav .menu .submenu #hourSelecter p {
    height: 20px;
    line-height: 20px;
    float: left;
}

#topbar #topnav .menu .submenu #hourSelecter span {
    position: static;
    float: left;
}

#topbar #topnav .menu .submenu #hourSelecter .left {
    margin-right: 5px;
    background: url("../images/left-arrow.png") 0 0 transparent;
}

#topbar #topnav .menu .submenu #hourSelecter .right {
    margin-left: 5px;
    background: url("../images/right-arrow.png") 0 0 transparent;
}

#topbar #topnav .menu .submenu #hourSelecter .disable {
    background-position: 20px 0;
}

/*三角形*/
#topbar #topnav .menu>.submenu:before {
    content: "";
    width: 0;
    height: 0;
    border-width: 0 9px 9px 9px;
    border-style: solid;
    border-color: transparent transparent #34495e transparent;
    top: -9px;
    left: 15px;
    position: absolute;
}

#topbar #topnav .menu .submenu.year .submenu.month {
    left: 100px;
    top: -3px;
}

#topbar #topnav .menu .submenu.display {
    width: 200px;
}

#topbar #topnav .menu .submenu.display li {
    width: 194px;
}

#topbar #topnav .menu .submenu.display li:hover,
#topbar #topnav .menu .submenu.sites li:hover {
    background: #34495e;
}

#topbar #topnav .menu .submenu label,
#topbar #topnav .menu .submenu .label {
    position: relative;
    display: block;
    left: 10px;
    width: 194px;
    text-align: left;
}

#topbar #topnav .menu .submenu span {
    display: block;
    width: 20px;
    height: 20px;
    background: #34495e;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

#topbar #topnav .menu .submenu .toggle {
    background-image: url("../images/checkbox.png");
    background-position: 0 0;
}

#topbar #topnav .menu .submenu .toggle.ON {
    background-position: 20px 0;
}

#topbar #topnav .menu .submenu input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

#topbar #topnav .menu .submenu.sites {
    width: 150px;
}

#topbar #topnav .menu .submenu.sites li {
    width: 144px;
}

#topbar #topnav .menu .submenu.sites label {
    width: 144px;
}

#topbar #topnav .menu .submenu li .all {
    background: #1abc9c;
    display: block;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    bottom: -3px;
    left: -3px;
    cursor: pointer;
    height: 40px;
    padding: 0 3px;
}

#topbar #topnav .menu .submenu li .all:hover {
    background: #16a085;
}

#topbar #topnav .share {
    float: right;
}

#topbar #topnav .share a {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    zoom: 1;
    background-position: 0 0;
    text-indent: -9999px;
}


#topbar #topnav .share.twitter a {
    background: url("../images/twitter.png") 0 0 #34495e;
}

#topbar #topnav .share.weibo a {
    background: url("../images/weibo.png") 0 0 #34495e;
}

#topbar #topnav .share.twitter a:focus,
#topbar #topnav .share.twitter a:hover,
#topbar #topnav .share.twitter a:active,
#topbar #topnav .share.weibo a:focus,
#topbar #topnav .share.weibo a:hover,
#topbar #topnav .share.weibo a:active {
    background-position: -40px 0;
}

/*遮罩*/
#shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*for let IE7*/
    *display: none;
    background: rgba(230, 230, 230, 0.5);
}

/*标题栏*/
#header {
    max-width: 960px;
    min-width: 730px;
    height: 75px;
    margin: 15px auto;
    position: relative;
    vertical-align: bottom;
}

#header h1 {
    color: #34495e;
    font-size: 50px;
    text-align: left;
    letter-spacing: 1px;
    position: absolute;
    left: 0;
    height: 75px;
    line-height: 75px;
}

#header p {
    color: #34495e;
    font-size: 16px;
    width: 300px;
    text-align: right;
    float: right;
    position: absolute;
    right: 10px;
}

#header .lastModified {
    bottom: 8px;
}

#header .total {
    bottom: 32px;
}

/*导航条*/
#nav {
    max-width: 960px;
    min-width: 730px;
    margin: 0 auto;
    margin-top: 10px;
    zoom: 1;
    overflow: hidden;
}

/*切换按钮*/
#nav #switcher {
    zoom: 1;
    overflow: hidden;
    padding-bottom: 16px;
    float: left;
    height: 36px;
}

#nav #switcher li {
    float: left;
    width: 60px;
    border-top: 2px solid #1abc9c;
    border-bottom: 2px solid #1abc9c;
    border-right: 2px solid #1abc9c;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    height: 32px;
    position: relative;
    /*for let IE7*/
    *border-left: 2px solid #1abc9c;
    *margin-left: -2px;
    height: 32px;
}

#nav #switcher li:first-child {
    border-left: 2px solid #1abc9c;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#nav #switcher li:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#nav #switcher li:hover {
    background: rgba(26, 188, 156, 0.1);
}

#nav #switcher li.selected {
    background: #1abc9c;
}

/*三角形*/
#nav #switcher li.selected:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #1abc9c transparent;
    border-style: solid;
    top: 36px;
    left: 15px;
}

/*搜索框*/
#nav #search {
    float: right;
    width: auto;
    position: relative;
    background: url("../images/search.png") 0 0 no-repeat transparent;
    width: 230px;
    text-align: right;
    height: 36px;
}

#nav #search:hover {
    background-color: transparent;
}

#nav #search input {
    color: #1abc9c;
    border: 2px solid #1abc9c;
    border-radius: 6px;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    padding: 6px 12px;
    background: #eee;
    width: 170px;
    height: 20px;
}

/*清除按钮*/
#nav #search input:focus {
    background: #fff;
}

#nav #search .clear {
    height: 20px;
    width: 20px;
    background: url("../images/clear.png") 0 0 no-repeat transparent;
    position: absolute;
    right: 10px;
    top: 8px;
    text-indent: 9999px;
    cursor: pointer;
}

/*表格容器*/
#container {
    margin: 0 auto;
    max-width: 960px;
    min-width: 730px;
    border: 8px solid #1abc9c;
    border-radius: 6px;
}

/*表格*/
#container table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    table-layout: fixed;
    line-height: 1.4;
}

#container table .errorMsg {
    /*for lte IE7*/
    *display: none;
}

#container table #name {
    width: 40%;
}

#container table #timeJP,
#container table #timeCN {
    width: 15%;
}

#container table thead tr th {
    background: #1abc9c;
    height: 30px;
    vertical-align: -4px;
}

#container table thead tr th p:hover {
    color: #3498db;
    cursor: pointer;
}

#container table thead tr th .ordered {
    text-decoration: underline;
}

#container table tbody tr td a.new:after {
    content: "new";
    font-size: 12px;
    font-family: sans-serif;
    color: #e74c3c;
    font-weight: normal;
    vertical-align: super;
    position: absolute;
    margin-left: 4px;
}

#container table tbody tr {
    height: 50px;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
}

#container table tbody tr:hover {
    background: #d7e8e4;
}

#container table tbody tr td {
    text-align: center;
}

#container table tbody tr td:first-child a {
    position: relative;
    display: block;
}

#container table tbody tr td:last-child {
    padding: 0 5px;
    text-align: center;
    font-size: 15px;
}

#container table tbody tr td .weekDay {
    margin-right: 5px;
}

#container table tbody tr td .links li {
    display: inline-block;
}

/*修复IE7inline-block失效的问题*/
#container table tbody tr td .links li {
    *display: inline;
    *margin-right: 10px;
}

#container table tbody tr td .links li .disabled {
    color: #aaa;
    cursor: default;
}

#container table tbody tr td .links li:after {
    content: "\00A0\007C\00A0";
    vertical-align: 6%;
}

#container table tbody tr td .links .lastLink:after {
    content: "\00A0";
}

#container table tbody tr .empty {
    color: #aaa;
}

/*页脚*/
#footer {
    max-width: 980px;
    min-width: 730px;
    text-align: center;
    margin: 10px auto;
    font-size: 14px;
    color: #34495e;
}

#footer a {
    font-size: 14px;
}

#footer a:link,
#footer a:visited,
#footer a:focus,
#footer a:hover,
#footer a:active {
    text-decoration: underline;
    color: #34495e;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (max--moz-device-pixel-ratio: 2) {
    #topbar #topnav .menu .submenu .toggle {
        background-image: url("../images/checkbox-2x.png");
        background-size:  40px 20px;
    }

    #search .clear {
        background-image: url("../images/clear-2x.png");
        background-size: 20px 20px;
    }

    #topbar #topnav .menu .submenu #hourSelecter .left {
        background-image: url("../images/left-arrow-2x.png");
        background-size: 40px 20px;
    }

    #topbar #topnav .menu .submenu #hourSelecter .right {
        background-image: url("../images/right-arrow-2x.png");
        background-size: 40px 20px;
    }

    #search {
        background-image: url("../images/search-2x.png");
        background-size: 32px 32px;
    }

    #topbar #topnav .share.weibo a {
        background-image: url("../images/weibo-2x.png");
        background-size: 80px 40px;
    }

    #topbar #topnav .share.twitter a {
        background-image: url("../images/twitter-2x.png");
        background-size: 80px 40px;
    }
}

@media screen and (max-width:729px){
    #topbar {
        min-width: 531px;
    }

    #topbar #topnav {
        min-width: 531px;
    }

    #topbar #topnav .title {
        display: none;
    }

    #header {
        min-width: 531px;
        margin: 0;
    }

    #header h1 {
        font-size: 40px;
        position: static;
        margin-left: 5px;
        overflow: hidden;
    }

    #header p {
        display: none;
    }

    #nav {
        overflow: hidden;
        zoom: 1;
        min-width: 531px;
        margin: 0;
        position: static;
    }

    #nav #switcher {
        float: left;
        width: 100%;
        padding-bottom: 0;
        height: 32px;
    }

    #nav #switcher li {
        width: 12.5%;
        font-size: 16px;
        border-bottom: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    #nav #switcher li:first-child,
    #nav #switcher li:last-child {
        border-radius: 0;
    }

    #nav #switcher li:first-child {
        border-left: none;
    }

    #nav #switcher li:last-child {
        border-right: none;
    }

    #nav #switcher li.selected:after {
        display: none;
    }

    #nav #search {
        position: absolute;
        top: 60px;
        right: 5px;
        width: 160px;
        overflow: hidden;
        height: 32px;
    }

    #nav #search .clear {
        right: 20px;
    }

    #nav #search input {
        width: 140px;
        border-radius: 0;
        font-size: 14px;
        padding: 4px 8px;
    }

    #nav #search input::-webkit-input-placeholder {
        color: transparent;
    }

    #nav #search input::-webkit-input-placeholder:before {
        color: #a9a9a9;
        content: "搜索";
    }

    #container {
        min-width: 531px;
        border: none;
    }

    #container table {
        min-width: 531px;
    }

    #container table #name {
        width: 35%;
    }

    #container table thead tr th,
    #container table tbody tr td {
        padding: 6px 5px;
        overflow: hidden;
        font-size: 16px;
        word-wrap: break-word;
        vertical-align: middle;
    }

    #container table thead tr th p span {
        display: none;
    }

    #container table tbody tr td a.new:after {
        content: '*';
        margin-left: 1px;
    }

    #container table tbody tr td .weekDay,
    #container table tbody tr td .time {
        display: block;
        margin: 0;
    }

    #footer {
        min-width: 531px;
        font-size: 10px;
        background: #1abc9c;
        margin: 0;
        min-height: 30px;
        line-height: 30px;
    }

    #footer a {
        font-size: 10px;
    }
}

@media screen and (max-width:530px) {
    body {
        min-width: 320px;
    }

    #topbar {
        min-width: 320px;
        height: 30px;
    }

    #topbar #topnav {
        min-width: 320px;
        height: 40px;
    }

    #topbar #topnav li {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }

    #topbar #topnav .menu {
        height: 40px;
    }

    #topbar #topnav .menu a {
        font-size: 14px;
    }

    #topbar #topnav .menu .submenu {
        top: 40px;
        width: 80px;
    }

    #topbar #topnav .menu .submenu a {
        width: 90px;
    }

    #topbar #topnav .menu .submenu li {
        width: 74px;
    }

    #topbar #topnav .menu .submenu.year .submenu.month {
        left: 78px;
        top: -3px;
    }

    #topbar #topnav .menu .submenu.display {
        width: 170px;
    }

    #topbar #topnav .menu .submenu.display li,
    #topbar #topnav .menu .submenu label,
    #topbar #topnav .menu .submenu .label {
        width: 164px;
    }

    #topbar #topnav .menu .submenu.sites {
        width: 120px;
    }

    #topbar #topnav .menu .submenu.sites li,
    #topbar #topnav .menu .submenu.sites label {
        width: 114px;
    }

    #topbar #topnav .menu .submenu li .all {
        height: 30px;
    }

    #topbar #topnav .menu .submenu span {
        width: 15px;
        height: 15px;
    }

    #topbar #topnav .menu .submenu #hourSelecter {
        height: 15px;
        top: 7.5px;
    }

    #topbar #topnav .menu .submenu #hourSelecter p {
        height: 15px;
        line-height: 15px;
    }

    #topbar #topnav .menu .submenu #hourSelecter .left,
    #topbar #topnav .menu .submenu #hourSelecter .right,
    #topbar #topnav .menu .submenu .toggle {
        background-size: 30px 15px;
        background-position: 0 0;
    }

    #topbar #topnav .menu .submenu #hourSelecter .disable {
        background-position: 15px 0;
    }

    #topbar #topnav .menu .submenu .toggle.ON {
        background-position: 15px 0;
    }

    #topbar #topnav .share a {
        width: 30px;
        height: 30px;
    }

    #topbar #topnav .share.plain {
        display: none;
    }

    #topbar #topnav .share.twitter a,
    #topbar #topnav .share.weibo a {
        background-size: 60px 30px;
    }

    #topbar #topnav .share.twitter a:focus,
    #topbar #topnav .share.twitter a:hover,
    #topbar #topnav .share.twitter a:active,
    #topbar #topnav .share.weibo a:focus,
    #topbar #topnav .share.weibo a:hover,
    #topbar #topnav .share.weibo a:active {
        background-position: -30px 0;
    }

    #header {
        min-width: 320px;
        height: 50px;
    }

    #header h1 {
        font-size: 22px;
        letter-spacing: normal;
        width: 40%;
        height: 50px;
        line-height: 50px;
    }

    #nav {
        min-width: 320px;
    }

    #nav #switcher li {
        font-size: 14px;
    }

    #nav #search {
        top: 40px;
    }

    #container {
        min-width: 320px;
    }

    #container table {
        min-width: 320px;
    }

    #container table thead tr th,
    #container table tbody tr td {
        font-size: 14px;
    }

    #container table tbody tr td a {
        font-size: 14px;
    }

    #container table thead tr th:first-child,
    #container table tbody tr td:first-child  {
        text-align: left;
        padding: 6px 8px;
    }

    #container table thead tr th:last-child,
    #container table tbody tr td:last-child {
        text-align: right;
        padding: 6px 8px;
    }

    #container table tbody tr td .links {
        text-align: right;
        margin-right: -10px;
    }

    #container table tbody tr td .links li {
        width: auto;
    }

    #container table tbody tr td .links li a {
        margin-right: 10px;
    }

    #container table tbody tr td .links li:after {
        content: '';
        display: none;
    }

    #container table tbody tr td .weekDay,
    #container table tbody tr td .time {
        display: block;
        margin: 0;
    }

    #footer {
        min-width: 320px;
    }
}

@media screen and (max-width:399px) {
    #topbar #topnav .share.weibo {
        display: none;
    }
}

#shadow {
    display: none !important;
}
