<!DOCTYPE html>
<html id="ng-app" ng-app="BangumiList">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>番组放送</title>
        <link type="text/css" rel="stylesheet" href="css/main.css">
        <link type="text/css" rel="stylesheet" href="css/ngprogress-lite.css">
        <!--[if lte IE 7]><script type="text/javascript" src="js/json2.js"></script><![endif]-->
    </head>
    <body ng-controller="ListController" ng-cloak>
        <noscript>
            <img src="images/no-js.gif" alt="没有打开Javascript！">
            <p style="text-align:center;">请打开javascript支持以显示本页面</p>
        </noscript>
        <div id="topbar">
            <ul id=topnav>
                <li class="title">
                    <a href="http://bgmlist.com/">番组放送</a>
                </li>
                <li class="menu">
                    <a href="javascript:;">历史数据</a>
                    <ul class="submenu year">
                        <li>
                            2014年
                            <ul class="submenu month">
                                <li>1月</li>
                                <li>4月</li>
                                <li>7月</li>
                                <li>10月</li>
                            </ul>
                        </li>
                        <li>2013年
                            <ul class="submenu month">
                                <li>1月</li>
                                <li>4月</li>
                                <li>7月</li>
                                <li>10月</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu">
                    <a href="javascript:;">显示设置</a>
                    <ul class="submenu display">
                        <li>
                            <label for="newOnly">只显示新番
                                <span class="toggleON"></span>
                            </label>
                            <input type="checkbox" name="newOnly" id="newOnly">
                        </li>
                        <li>
                            <label for="outOnly">只显示已开播番组
                                <span class="toggleOFF"></span>
                            </label>
                            <input type="checkbox" name="outOnly" id="outOnly">
                        </li>
                    </ul>
                </li>
                <li class="menu">
                    <a href="javascript:;">站点过滤</a>
                    <ul class="submenu sites">
                        <li>
                            <label for="youku">优酷
                                <span class="toggleON"></span>
                            </label>
                            <input type="checkbox" name="youku" id="youku">
                        </li>
                        <li>
                            <label for="tudou">土豆
                                <span class="toggleOFF"></span>
                            </label>
                            <input type="checkbox" name="tudou" id="tudou">
                        </li>
                        <li><span class="selectAll">全选</span></li>
                    </ul> 
                </li>
            </ul>
        </div>
        <div class="sidebar">
            <div id="archive">
                <h3>归档</h3>
                <ul>
                    <li class="s-title" ng-repeat="file in archive"><span class="pointer" 
                            ng-click="file.show=!file.show">{{file.year}}年({{file.months.length}})</span>
                        <ul class="s-items" ng-show="file.show===true" class-fix>
                            <li ng-repeat="data in file.months" ng-hide="data.json===''||data.done===false" class-fix>
                                <span class="pointer" ng-class="{'read':(file.year===yearRead&&data.month===monthRead)}"
                                    ng-click="readBangumi(getJsonPath(file.year, data.month, archive),'jp',false);query.weekDayCN=undefined">{{data.month | monthCN}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> 
            <div id="option">
                <h3>选项</h3>
                <ul>
                    <li class="s-title"><span class="pointer" ng-init="display.show=false"
                            ng-click="display.show=!display.show">显示</span>
                        <ul class="s-items" ng-show="display.show===true" class-fix>
                            <li class="display">
                                <label><input type="checkbox" ng-model="query.newBgm" 
                                    ng-change="ipCookie('newOnly',query.newBgm,{expires:365})" 
                                    ng-false-value=""> 仅显示新番</label>
                            </li>
                        </ul>
                    </li>
                    <li class="s-title"><span class="pointer" ng-init="sites.show=false"
                            ng-click="sites.show=!sites.show">站点</span>
                        <ul class="s-items" ng-show="sites.show===true" class-fix>
                            <li ng-repeat="airSite in siteList" class="sites">
                                <label><input type="checkbox" ng-model="airSite.show" 
                                    ng-change="ipCookie(airSite.domain,airSite.show,{expires:365})">{{airSite.name}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="container">
            <ul id='nav'>
                <li ng-repeat="nav in navList" 
                    ng-class="{'selected':$parent.query.weekDayCN===nav.index}" 
                    class-fix ng-click="$parent.query.titleCN='';$parent.query.weekDayCN=nav.index;
                    order(bangumis,nav.order,false);">{{nav.name}}</li>
            </ul> 
            <table>
                <colgroup>
                    <col id="name">
                    <col id="time-jp">
                    <col id="time-cn">
                    <col id="site">
                </colgroup>
                <thead>
                    <tr>
                        <th id="header" colspan="3">{{yearRead}}年{{monthRead}}月番组</th>
                        <th id="search" colspan="1">
                            <input type="search" ng-model="query.titleCN" placeholder="搜索本月番组"
                            ng-keydown="query.weekDayCN=undefined">
                        </th>
                    </tr>
                    <tr>
                        <th>作品名</th>
                        <th>
                            <span class="pointer" ng-click="order(bangumis,'jp',reversed)" 
                                ng-class="{'ordered':ordered==='jp'}" class-fix>日本放送时间</span>
                        </th>
                        <th>
                            <span class="pointer"  ng-click="order(bangumis,'cn',reversed)" 
                                ng-class="{'ordered':ordered==='cn'}" class-fix>大陆放送时间</span>
                        </th>
                        <th>播放网址</th>
                    </tr>
                </thead>
                <tbody id="bangumi_list">
                    <tr ng-repeat="item in bangumis | filter:query track by $index" 
                        ng-class-even="'color'" class-fix>
                        <td>
                            <a href="{{item.officalSite}}" ng-class="{'new':item.newBgm}" class-fix>
                                {{item.titleCN}}<span span-fix>{{item.titleJP}}</span></a>
                        </td>
                        <td>{{item.weekDayJP | weekday}}&#160;&#160;{{item.timeJP | time}}</td>
                        <td>{{item.weekDayCN | weekday}}&#160;&#160;{{item.timeCN | time}}</td>
                        <td>
                            <ul id="link-list">
                                <li ng-repeat="site in item.onAirSite | linkFilter:siteList" 
                                    ng-class="{'lastLink':$last}">
                                    <a href="{{site}}">{{site | onair}}</a></li>
                            </ul>    
                            <p ng-show="item.onAirSite.length===0" style="color:gray" class-fix>暂无</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p id="footer">Copyright &copy; 
                <a href="http://bgmlist.com/">番组放送</a> | All Rights Reserved | Powered by 
                <a href="https://angularjs.org">AngularJS</a>
                and <a href="https://github.com/wxt2005/new_bangumi">GitHub</a>
            </p>
        </div>
        <script type="text/javascript" src="js/angular.min.js"></script> 
        <script type="text/javascript" src="js/angular-cookie.min.js"></script> 
        <script type="text/javascript" src="js/app.js"></script> 
        <script type="text/javascript" src="js/iefix.js"></script> 
        <script type="text/javascript" src="js/ngprogress-lite.min.js"></script> 
    </body>
</html>
