<ul id='nav'>
    <li ng-class="{'selected':query.weekDayCN===1}" class-fix ng-click="query={titleCN:undefined,weekDayCN:1};order(bangumis,'cn',false)">星期一</li>
    <li ng-class="{'selected':query.weekDayCN===2}" class-fix ng-click="query={titleCN:undefined,weekDayCN:2};order(bangumis,'cn',false)">星期二</li>
    <li ng-class="{'selected':query.weekDayCN===3}" class-fix ng-click="query={titleCN:undefined,weekDayCN:3};order(bangumis,'cn',false)">星期三</li>
    <li ng-class="{'selected':query.weekDayCN===4}" class-fix ng-click="query={titleCN:undefined,weekDayCN:4};order(bangumis,'cn',false)">星期四</li>
    <li ng-class="{'selected':query.weekDayCN===5}" class-fix ng-click="query={titleCN:undefined,weekDayCN:5};order(bangumis,'cn',false)">星期五</li>
    <li ng-class="{'selected':query.weekDayCN===6}" class-fix ng-click="query={titleCN:undefined,weekDayCN:6};order(bangumis,'cn',false)">星期六</li>
    <li ng-class="{'selected':query.weekDayCN===0}" class-fix ng-click="query={titleCN:undefined,weekDayCN:0};order(bangumis,'cn',false)">星期日</li>
    <li ng-class="{'selected':query.weekDayCN===undefined}" class-fix ng-click="query.weekDayCN=undefined;order(bangumis,'jp',false)">全 部</li>
</ul>
