<div id="sidebar">
    <h3>归档</h3>
    <ul>
        <li class="year" ng-repeat="file in archive"><span class="pointer" ng-click="file.show=!file.show">{{file.year}}年</span>
            <ul class="month" ng-show="file.show===true">
                <li ng-repeat="data in file.months" ng-hide="data.json===''||data.done===false" class-fix><span class="pointer" ng-click="readBangumi(getJsonPath(file.year, data.month, archive))">{{data.month | monthCN}}</span></li>
            </ul>
        </li>
    </ul>
</div>
